words/duolingo_words.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/dictionary/vocabulary/chunk_01.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/dictionary/vocabulary/chunk_02.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/dictionary/vocabulary/chunk_05.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/dictionary/vocabulary/chunk_10.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/dictionary/vocabulary/chunk_03.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/dictionary/vocabulary/chunk_04.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/dictionary/vocabulary/chunk_06.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/dictionary/vocabulary/chunk_07.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/dictionary/vocabulary/chunk_08.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/dictionary/vocabulary/chunk_09.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/.template.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/jltp_n1.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/jltp_n2.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/jltp_n3.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/jltp_n4.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/jltp_n5.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/**.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n5/migii_n5_3.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n5/migii_n5_6.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n1/migii_n1_16.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n1/migii_n1_25.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n1/migii_n1_49.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n3/migii_n3_26.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n4/migii_n4_2.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n1/migii_n1_41.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n2/migii_n2_26.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n2/migii_n2_16.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n3/migii_n3_31.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n5/migii_n5_11.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n1/migii_n1_21.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n1/migii_n1_9.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n5/migii_n5_9.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n1/migii_n1_48.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n1/migii_n1_52.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n2/migii_n2_30.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n3/migii_n3_25.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n5/migii_n5_15.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n1/migii_n1_43.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n2/migii_n2_31.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n3/migii_n3_20.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n3/migii_n3_24.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n1/migii_n1_35.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n1/migii_n1_44.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n1/migii_n1_47.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n3/migii_n3_14.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n4/migii_n4_10.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n1/migii_n1_28.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n2/migii_n2_7.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n1/migii_n1_56.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n1/migii_n1_24.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n3/migii_n3_19.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n2/migii_n2_14.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n3/migii_n3_17.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n4/migii_n4_6.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n1/migii_n1_39.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n1/migii_n1_40.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n2/migii_n2_11.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n2/migii_n2_19.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n3/migii_n3_28.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n1/migii_n1_18.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n2/migii_n2_17.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n3/migii_n3_15.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n3/migii_n3_16.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n3/migii_n3_30.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n1/migii_n1_32.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n1/migii_n1_27.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n2/migii_n2_5.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n3/migii_n3_13.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n5/migii_n5_19.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n5/migii_n5_20.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n2/migii_n2_1.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n2/migii_n2_15.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n3/migii_n3_18.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n3/migii_n3_5.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n3/migii_n3_27.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n1/migii_n1_53.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n1/migii_n1_20.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n1/migii_n1_42.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n2/migii_n2_12.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n2/migii_n2_20.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n2/migii_n2_9.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n3/migii_n3_21.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n1/migii_n1_29.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n1/migii_n1_55.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n2/migii_n2_2.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n3/migii_n3_2.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n3/migii_n3_8.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n5/migii_n5_13.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n5/migii_n5_8.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n3/migii_n3_3.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n1/migii_n1_7.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n1/migii_n1_22.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n2/migii_n2_6.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n3/migii_n3_23.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n5/migii_n5_14.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n5/migii_n5_17.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n1/migii_n1_33.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n2/migii_n2_29.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n3/migii_n3_12.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n1/migii_n1_54.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n3/migii_n3_7.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n3/migii_n3_9.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n1/migii_n1_10.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n1/migii_n1_11.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n1/migii_n1_14.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n2/migii_n2_3.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n5/migii_n5_10.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n5/migii_n5_4.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n1/migii_n1_3.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n1/migii_n1_30.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n1/migii_n1_37.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n1/migii_n1_46.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n1/migii_n1_6.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n2/migii_n2_13.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n2/migii_n2_21.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n2/migii_n2_24.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n1/migii_n1_19.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n1/migii_n1_26.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n2/migii_n2_8.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n3/migii_n3_1.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n3/migii_n3_6.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n4/migii_n4_7.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n5/migii_n5_1.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n1/migii_n1_2.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n1/migii_n1_38.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n1/migii_n1_45.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n2/migii_n2_25.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n4/migii_n4_4.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n4/migii_n4_5.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n5/migii_n5_18.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n1/migii_n1_23.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n1/migii_n1_5.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n1/migii_n1_50.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n4/migii_n4_3.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n4/migii_n4_9.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n5/migii_n5_7.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n1/migii_n1_34.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n1/migii_n1_15.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n3/migii_n3_10.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n1/migii_n1_1.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n1/migii_n1_31.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n2/migii_n2_18.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n2/migii_n2_27.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n4/migii_n4_11.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n5/migii_n5_2.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n1/migii_n1_51.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n1/migii_n1_8.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n2/migii_n2_4.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n3/migii_n3_4.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n4/migii_n4_1.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n5/migii_n5_12.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n5/migii_n5_16.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n2/migii_n2_10.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n3/migii_n3_11.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n5/migii_n5_5.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n1/migii_n1_36.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n1/migii_n1_4.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n2/migii_n2_22.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n2/migii_n2_28.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n4/migii_n4_8.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n3/migii_n3_29.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n1/migii_n1_12.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n1/migii_n1_13.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n1/migii_n1_17.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n2/migii_n2_23.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/well_known_set/n3/migii_n3_22.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/dictionary/kanji.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/dictionary/radicals.json filter=lfs diff=lfs merge=lfs -text
origa/src/domain/dictionary/kanji_frames filter=lfs diff=lfs merge=lfs -text
origa/src/domain/dictionary/kanji_animations/ filter=lfs diff=lfs merge=lfs -text
origa/src/domain/dictionary/vocabulary/ filter=lfs diff=lfs merge=lfs -text
