html, body {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

html {
    background-color: #F8F9FD;
    font-family: 'Maple Mono', monospace;
}

body {
    background-color: #F8F9FD;
    color: #334155;
    font-family: 'Maple Mono', monospace;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    overflow-x: hidden;
}

#hero {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#links {
    width: 400px;
    text-align: left;
    font-size: x-large;
    color: white;
    display: flex;
    flex-direction: column;
}

#links a {
    color: white;
    text-decoration: none;
    margin-top: 20px;
    margin: 10px 0px;
    border: white 1px solid;
    border-radius: 5px;
    padding: 10px;
}

#links a:hover {
    background-color: #1f1f1f;
    cursor: pointer;
}

#header {
    max-width: 1200px;
}