.toolbar {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    padding: .25rem;
    border: none;
    border-radius: .5rem;
    box-shadow: inset 0 0 0 1px var(--kk-border);
    gap: .25rem;
}

.toolbar button {
    padding: 8px 12px;
    border: none;
    border-radius: calc(.5rem - .25rem);
    background: none;
    color: var(--kk-text-main);
    cursor: pointer;
}

.toolbar button:hover:not([disabled]),
.toolbar button:focus-visible {
    background-color: #f1f5f9;
    /* slate-100 */
    color: var(--kk-text-main);
}

.toolbar button:disabled {
    color: var(--kk-text-muted);
    cursor: not-allowed;
}

.toolbar-group {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.toolbar-separator {
    width: 1px;
    height: 24px;
    margin: 0 5px;
    background-color: var(--kk-border);
}

.toolbar-content p {
    padding: 0;
    margin: 0;
}