{
    admin off
}

:4000 {
    reverse_proxy localhost:8080

    encode gzip zstd

    @static_files {
        path *.js *.css *.json *.png *.jpg *.jpeg *.gif *.svg *.woff *.woff2 *.ttf *.eot *.ico *.webmanifest *.wasm
    }
    header @static_files Cache-Control "public, max-age=2592000, immutable"

    @html {
        path *.html /
    }
    header @html Cache-Control "no-cache, no-store, must-revalidate"
    header @html Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval'; connect-src 'self' {env.ORIGA_CDN_BASE_URL} https://origa.uwuwu.net https://huggingface.co; img-src 'self' data: blob: {env.ORIGA_CDN_BASE_URL}; media-src 'self' blob: {env.ORIGA_CDN_BASE_URL}; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com; font-src 'self' https://fonts.gstatic.com; form-action 'self' https://accounts.google.com https://oauth.yandex.ru; frame-ancestors 'none'"
}
