.radio-group {
  display: flex;
  flex-direction: column;
  gap: .75rem;
}

.radio-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  border: none;
  background-color: transparent;
  color: var(--kk-text-main);
  font-size: 14px;
  gap: .75rem;

  &::before {
    display: block;
    width: 1rem;
    height: 1rem;
    box-sizing: border-box;
    border-radius: 1.5rem;
    background-color: var(--kk-surface);
    box-shadow: inset 0 0 0 1px var(--kk-border), var(--kk-shadow-3d);
    content: "";
    cursor: pointer;
  }

  &:focus-visible {
    outline: none;
  }

  &:focus-visible::before {
    box-shadow: 0 0 0 4px var(--kk-focus), var(--kk-shadow-3d-hover);
  }

  &[data-state="checked"]::before {
    border: 0.25rem solid var(--kk-surface);
    background-image: var(--kk-gradient-benzine);
    box-shadow: var(--kk-shadow-glow);
  }

  &[data-disabled="true"]::before {
    cursor: not-allowed;
    opacity: 0.5;
  }
}